<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="__PUBLIC__/admin/lib/html5.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/respond.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/PIE_IE678.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/lib/Hui-iconfont/1.0.7/iconfont.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/lib/icheck/icheck.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/static/h-ui.admin/css/style.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/page.css" />
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>广告管理</title>
</head>
<body>

<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 广告管理 <span class="c-gray en">&gt;</span> 广告管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="text-c"> 
		<form action="__URL__/weixiu" method="post">
		
			<input type="text" name="key" value="{$key}" placeholder="关键词名称" style="width:250px" class="input-text">
			<button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 查找</button>
		</form>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20"> 
	<span class="l">
	
	</span> 
	<span class="r">共有数据：<strong>{$count}</strong> 条</span> </div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort">
			
			<thead>
				<tr class="text-c">
					<th width="40">ID</th>
					<th width="150">公司名称</th>
					<th width="120">图片</th>
					
					<th width="60">公司网址</th>
					<th width="40">显示位置</th>
					<th width="40">是否显示</th>
					<th width="60">发布时间</th>
					<th width="120">操作</th>
				</tr>
			</thead>
			
			<tbody>
			
				<foreach name="list" item="v">
					<tr class="text-c">
						<td>{$v['id']}</td>
						<td>{$v['company_name']}</td>
						<td><img src="{$v['pic']}" width="120" height="50"/></td>
						
						<td>{$v['company_url']}</td>
						<td>
							<if condition="($v['show_type'] eq 1)"> banner1
								<elseif condition="($v['show_type'] eq 2)"/>banner2
								<elseif condition="($v['show_type'] eq 3)"/>banner3
								<elseif condition="($v['show_type'] eq 4)"/>首页广告1
								<elseif condition="($v['show_type'] eq 5)"/>首页广告2
								<elseif condition="($v['show_type'] eq 6)"/>首页广告3
								<elseif condition="($v['show_type'] eq 7)"/>首页广告4
								<elseif condition="($v['show_type'] eq 8)"/>首页广告5
								<elseif condition="($v['show_type'] eq 9)"/>首页广告6
								<elseif condition="($v['show_type'] eq 10)"/>行业资讯1
								<elseif condition="($v['show_type'] eq 11)"/>行业资讯2
								<elseif condition="($v['show_type'] eq 12)"/>行业资讯3
								<elseif condition="($v['show_type'] eq 13)"/>行业资讯4
								<elseif condition="($v['show_type'] eq 14)"/>行业资讯5
								<elseif condition="($v['show_type'] eq 15)"/>行业资讯6
								<elseif condition="($v['show_type'] eq 16)"/>行业资讯7
								<elseif condition="($v['show_type'] eq 17)"/>行业资讯8
								<elseif condition="($v['show_type'] eq 18)"/>行业资讯9
								<elseif condition="($v['show_type'] eq 19)"/>行业资讯10
								<elseif condition="($v['show_type'] eq 20)"/>热门职位1
								<elseif condition="($v['show_type'] eq 21)"/>热门职位2
								<elseif condition="($v['show_type'] eq 22)"/>热门职位3
								<elseif condition="($v['show_type'] eq 23)"/>热门职位4
								<elseif condition="($v['show_type'] eq 24)"/>热门职位5
								<elseif condition="($v['show_type'] eq 25)"/>热门职位6
								<elseif condition="($v['show_type'] eq 26)"/>热门职位7
								<elseif condition="($v['show_type'] eq 27)"/>热门职位8
								<elseif condition="($v['show_type'] eq 28)"/>维修报价1
								<elseif condition="($v['show_type'] eq 29)"/>维修报价2
								<elseif condition="($v['show_type'] eq 30)"/>维修报价3
								<elseif condition="($v['show_type'] eq 31)"/>维修报价4
								<elseif condition="($v['show_type'] eq 32)"/>维修报价5
								<elseif condition="($v['show_type'] eq 33)"/>维修报价6
								<elseif condition="($v['show_type'] eq 34)"/>维修报价7
								<elseif condition="($v['show_type'] eq 35)"/>维修报价8
								<elseif condition="($v['show_type'] eq 36)"/>材料采购1
								<elseif condition="($v['show_type'] eq 37)"/>材料采购2
								<elseif condition="($v['show_type'] eq 38)"/>材料采购3
								<elseif condition="($v['show_type'] eq 39)"/>材料采购4
								<elseif condition="($v['show_type'] eq 40)"/>材料采购5
								<elseif condition="($v['show_type'] eq 41)"/>材料采购6
								<elseif condition="($v['show_type'] eq 42)"/>材料采购7
								<elseif condition="($v['show_type'] eq 43)"/>材料采购8
								<elseif condition="($v['show_type'] eq 44)"/>材料推广1
								<elseif condition="($v['show_type'] eq 45)"/>材料推广2
								<elseif condition="($v['show_type'] eq 46)"/>材料推广3
								<elseif condition="($v['show_type'] eq 47)"/>材料推广4
								<elseif condition="($v['show_type'] eq 48)"/>材料推广5
								<elseif condition="($v['show_type'] eq 49)"/>材料推广6
								<elseif condition="($v['show_type'] eq 50)"/>材料推广7
								<elseif condition="($v['show_type'] eq 51)"/>材料推广8
								<else /> 其他
							</if>
						</td>
						<td>
							<if condition="($v['show'] eq 1)"> 显示
								<else /> 不显示
							</if>
						</td>
						<td>{$v['addtime']|date='Y-m-d : H:i:s',###}</td>
						<td class="td-status">{$v['status']}
							<a href="javascript:(void)">
								<if condition="($v['show'] eq 1)"> <a style="color:red;padding-right:50px;"  href="{:U('Advertising/setStatus',array('id'=>$v['id'],'show'=>2))}">关闭</a>
									<else /> <a style="color:red;padding-right:50px;"  href="{:U('Advertising/setStatus',array('id'=>$v['id'],'show'=>1))}">显示</a>
								</if>
							</a>
							<a href="{:U('Advertising/del',array('id'=>$v['id']))}" style="color:red;">删除</a>
						</td>
					</tr>
				</foreach>
				
			</tbody>
		</table>
		<div class="page b-page">{$page}</div>
	</div>
</div>

<script type="text/javascript" src="__PUBLIC__/admin/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/lib/layer/2.1/layer.js"></script>  
<script type="text/javascript" src="__PUBLIC__/admin/static/h-ui/js/H-ui.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/static/h-ui.admin/js/H-ui.admin.js"></script>
<script type="text/javascript">

</script> 
</body>
</html>