<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>详情</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/apicloud/api.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/apicloud/aui.css"/>
  <style>
        .aui-content{width:60%;margin:0 auto}
        .aui-media-list{width:100%;margin:0 auto}
        .lia{width: 100%;margin:0 auto;font-size: 0.75rem;font-family: 圆幼;padding-top:0.55rem;padding-right:0.55rem;padding-left:0.65rem;border-bottom: 1px solid #E3E5E5;background:#fff;color:#4D4D4D}     
        .lia1{width:100%;font-size: 0.75rem;font-family: 圆幼;padding-top:0.45rem;padding-right:0.55rem;padding-left:1.0rem;border-bottom: 1px solid #FAFAFA;background:#fff;color:#4D4D4D} 
        .lia2{width:100%;font-size: 0.75rem;font-family: 圆幼;padding-top:0.45rem;border-bottom: 1px solid #FAFAFA;background:#fff;color:#4D4D4D} 
         #ul{width:100%;}   
    </style>
</head>
<body>
    <div class="aui-content aui-margin-b-15" id='lists'>
       <ul class="aui-list aui-margin-b-15" style="">
        <li class="aui-list-item-middle lia" >
             <div class="aui-list-item-text">
                <div class="aui-list-item-title aui-font-size-14" >发 布 人：<font id="name">{$info.name}</font><span id='time' style="font-size: 0.65rem;color:#999;margin-left:4.50rem "></span></div>
                
            </div>
         </li>
		 <li class="aui-list-item-middle lia" >
             <div class="aui-list-item-text">
                <div class="aui-list-item-title aui-font-size-14" >接 收 人：<font id="name">{$info.rev_name}</font><span id='time' style="font-size: 0.65rem;color:#999;margin-left:4.50rem "></span></div>
                
            </div>
         </li>
          <li class="aui-list-item-middle lia" >
             定位地址： <span style="" id="shop_address">{$info.autoaddress}</span>
		  </li>
		  <li class="aui-list-item-middle lia" >
			地	址： <span style="" id="shop_address">{$info.address}</span>
		 </li>
			 
         <li class="aui-list-item-middle lia" >
             联系电话： <span style="" id="shop_call">{$info.tel}</span>
		</li>
		<li class="aui-list-item-middle lia" >
             报 价： <span style="" id="shop_call">{$info.bj_name}-{$info.unit}</span>
		</li>
		
         

         <li class="aui-list-item" id="lists1">  
            <p id="message-content" style="width:100%;height:auto;overflow: hidden;margin:5px auto;padding-left: 0.35rem">
			<?php
				foreach($info['img'] as $k=>$r){
					echo '<img class="imagemsg" style="width:3.8rem;float:left;margin:0.15rem;height:3.8rem;" onclick="showpic(this)"id="" src="http://jingyi.59jiaju.com/'.$r.'" /></p>';
				}
			?>
         </li>
         <li style="background:#fff;height:0.25rem;margin-bottom:0.55rem"></li>
       </ul>
  </div>  
   <div class="aui-content" id='lists'>
        <ul class="aui-list aui-media-list" >
            <li class="aui-list-header">留言回复：<a class="aui-pull-right" ></a></li>
            <!-- <li class="aui-list-header">接单留言：<a class="aui-pull-right" ></a></li> -->
        </ul>
		<?php 
			foreach($allman as $k=>$mans){
					foreach($mans as $kk=>$man){
						$str = '';
						$str .= '<ul class="aui-list aui-media-list">';
						$str .= '<li class="aui-list-item aui-list-item-middle"style="width:100%;overflow:hidden">';
						$str .= '<div class="aui-media-list-item-inner">';
						$str .= '<div class="aui-list-item-media" style="float:left;overflow:hidden">';
						$str .= '<img src="http://jingyi.59jiaju.com/'.$man['userphoto'].'" style="width:40px;height:40px" class="aui-img-round aui-list-img-sm">';
						$str .= ' 			 </div>';
						$str .= '		   <div class="aui-list-item-inner aui-list-item-arrow">';
						$str .= '				 <div class="aui-list-item-text">';
						$str .= '				   <div class="aui-list-item-title aui-font-size-14">'.$man['name'].'</div>';
						$str .= ' 				<div class="aui-list-item-right">'.$man['zhiwei'].'</div>';
						$str .= '				   </div>';
						$str .= '			   </div>';
						$str .= '			</div>';
						$str .= '	  </li>';
						$str .= '   </ul>';
						$str .= '<ul class="aui-list aui-form-list">';
						
						$str .= '	<li class="aui-list-item">';
						$str .= '		<div class="aui-list-item-inner">';
						$str .= '			<div class="aui-list-item-label">回复内容：</div>';
						$str .= '			<div class="aui-list-item-input">'.$man['content'].'</div>';
						$str .= '		</div>';
						$str .= '	</li>';
						if(!empty($userid) && ($userid != $man['user_id'])){
							$str .= '	<li class="aui-list-item">';
							$str .= '		 <div class="aui-list-item-inner">';
							$str .= '			<span style="float:right;color:red;" onclick="addhuifu('.$info['id'].','.$man['user_id'].','.$man['id'].');">回复</span>';
							$str .= '		</div>';
							$str .= '	</li>';
						}
						$str .= '</ul> ';
						echo $str;
					}
			}
		?>
    </div>  
</body>
<script type="text/javascript" src="__PUBLIC__/admin/apicloud/api.js"></script>
<!--Zepto.js,类似Jquery-->
<script type="text/javascript" src="__PUBLIC__/admin/apicloud/zepto.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/apicloud/winu-base.js" ></script>
<script type="text/javascript">
    var id,winName,user_id,send_uid,weitype;
    apiready = function(){
        id=api.pageParam.id;
        send_uid=api.pageParam.send_uid;
        winName=api.winName;
        user_id = _getStorage('userinfo').user_id;
        weitype=api.pageParam.weitype;
        if(weitype==2){
            $("#number_none").css('display','none');
            $("#worker_none").css('display','none');
        }else if(weitype==3 || weitype==4){
           $("#number_none").css('display','none');
        }
        detail();
		
    };
    // 下拉刷新
    _setRefreshHeaderInfo(function() {
        window.location.reload(); //页面刷新
    });
    
        //浏览图片
    function showpic(obj){
        var photoBrowser = api.require('photoBrowser');
        var src = obj.id;
        photoBrowser.open({
            images: [
                src,
            ],
            placeholderImg: 'widget://image/loading_more.gif',
            bgColor: '#000'
        }, function(ret, err) {
            if (ret) {
              
            } else {
                _toast("打开图片失败");
            }
        });
    }
    
    //关闭回复
    function closeWin(){
        _toast('操作成功！');
        _closeToWin(api.winName);
        setTimeout(function(){
            window.location.reload();//页面刷新
        },500);
        
    }
	//回复
	function addhuifu(jzid,userid,pid){
		var url='__MODULE__/Budgetoffer/addhuifu/bg_id/'+jzid+'/pid/'+pid+'/userid/'+userid+'';
		//alert(url);
		window.location.href = url;
	}

</script>
</html>