<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<LINK rel="Bookmark" href="/favicon.ico" >
<LINK rel="Shortcut Icon" href="/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="__PUBLIC__/admin/lib/html5.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/respond.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/PIE_IE678.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/lib/Hui-iconfont/1.0.7/iconfont.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/lib/icheck/icheck.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<!--/meta 作为公共模版分离出去-->

<title></title>
<meta name="keywords" content="">
<meta name="description" content="">
</head>
<body>
<article class="page-container">
	<form action="__URL__/userCateSaveS" method="post" class="form form-horizontal" id="form-member-add">
		<if condition="$u eq 1">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">职位工种：</label>
			<div class="formControls col-xs-8 col-sm-9"> 
				<span class="select-box">
					<select style="width:250px" id="postion" name="postion">
						<option  value="">--请选择--</option>
						<option style="font-size:20px" value='1'>施工队长</option>
						<option style="font-size:20px" value='2'>水电工长</option>
						<option style="font-size:20px" value='3'>空调安装工长</option>
						<option style="font-size:20px" value='4'>空调安装工</option>
						<option style="font-size:20px" value='5'>泥水工</option>
						<option style="font-size:20px" value='6'>水电工</option>
						<option style="font-size:20px" value='7'>电焊工</option>
						<option style="font-size:20px" value='8'>家具安装工</option>
						<option style="font-size:20px" value='9'>木工</option>
						<option style="font-size:20px" value='10'>扇灰工</option>
						<option style="font-size:20px" value='11'>保洁工</option>
						<option style="font-size:20px" value='12'>杂工</option>
						<option style="font-size:20px" value='13'>设计师</option>
						<option style="font-size:20px" value='14'>预算员</option>
						<option style="font-size:20px" value='16'>维修工</option>
						<option style="font-size:20px" value='17'>网络维修</option>
						<option style="font-size:20px" value='18'>实习预结算员</option>
						<option style="font-size:20px" value='19'>室内设计师</option>
						<option style="font-size:20px" value='20'>工程经理</option>
						<option style="font-size:20px" value='21'>机电工程师</option>
						<option style="font-size:20px" value='22'>暖通设计师</option>
						<option style="font-size:20px" value='23'>采购经理</option>
						<option style="font-size:20px" value='24'>文案</option>
						<option style="font-size:20px" value='25'>平面设计</option>
						<option style="font-size:20px" value='26'>效果图设计师</option>
						<option style="font-size:20px" value='27'>客服专员</option>
						<option style="font-size:20px" value='28'>行政助理</option>
						<option style="font-size:20px" value='29'>软件销售经理</option>
						<option style="font-size:20px" value='30'>业务员</option>
						<option style="font-size:20px" value='31'>项目经理</option>
						<option style="font-size:20px" value='32'>水电维修</option>
						<option style="font-size:20px" value='33'>空调维修</option>
						<option style="font-size:20px" value='34'>装饰维修</option>
						<option style="font-size:20px" value='35'>设备维修</option>
						<option style="font-size:20px" value='37'>工匠</option>
						<option style="font-size:20px" value='15'>其它</option>
					</select>
				</span> 
			</div>
		</div>
		</if>
		
		
		<if condition="$u eq 2">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">分类：</label>
			<div class="formControls col-xs-8 col-sm-9"> 
				<span class="select-box">
					<select style="width:250px" id="type" name="type">
						<option  value="">--请选择--</option>
						<option style="font-size:20px" value='百胜'>百胜</option>
						<option style="font-size:20px" value='汉堡王'>汉堡王</option>
						<option style="font-size:20px" value='麦当劳'>麦当劳</option>
						<option style="font-size:20px" value='太平洋咖啡'>太平洋咖啡</option>
					</select>
				</span> 
			</div>
		</div>
		</if>
		<!--<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">备注：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea name="beizhu" cols="" rows="" class="textarea"  placeholder="说点什么...最少输入10个字符" onKeyUp="textarealength(this,100)"></textarea>
				<p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>
			</div>
		</div>-->
		<input type="hidden" name="u" value="{$u}"/>
		<input type="hidden" name="user_id" value="{$id}"/>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>

<!--_footer 作为公共模版分离出去--> 
<script type="text/javascript" src="__PUBLIC__/admin/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/lib/layer/2.1/layer.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/lib/icheck/jquery.icheck.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/lib/jquery.validation/1.14.0/jquery.validate.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/lib/jquery.validation/1.14.0/messages_zh.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/static/h-ui/js/H-ui.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/static/h-ui.admin/js/H-ui.admin.js"></script> 
<!--/_footer /作为公共模版分离出去--> 

<!--请在下方写此页面业务相关的脚本--> 
<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	
	$("#form-member-add").validate({
		rules:{
			username:{
				required:true,
				minlength:2,
				maxlength:16
			},
			position:{
				required:true,
			},
			mobile:{
				required:true,
				isMobile:true,
			},
			email:{
				required:true,
				email:true,
			},
			uploadfile:{
				required:true,
			},
			
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			$(form).ajaxSubmit();
			
		}
	});
});
</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>