<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="__PUBLIC__/HUI/lib/html5.js"></script>
<script type="text/javascript" src="__PUBLIC__/HUI/lib/respond.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/HUI/lib/PIE_IE678.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/HUI/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/HUI/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/HUI/lib/Hui-iconfont/1.0.7/iconfont.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/HUI/lib/icheck/icheck.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/HUI/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/HUI/static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="__PUBLIC__/HUI/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>用户详细资料</title>
</head>
<body>
<div class="page-container">
	
	<table class="table table-border table-bordered table-bg">
		<thead>
			<tr>
				<th colspan="7" scope="col">资料统计</th>
			
		</thead>
		<tbody>
		</tbody>
	</table>
	<br>
	<br>
	<p class="c-black">    姓名：{$list['name']}</p>
	<p class="c-black">    职位：{$list['postion']}</p>
	<p class="c-black">    性别：{$list['sex']}</p>
	<p class="c-black">    邮箱：{$list['email']}</p>
	<p class="c-black">    工价：{$list['gy_type']}</p>
	<p class="c-black">    年龄：{$list['nianling']}</p>
	<p class="c-black">    工龄：{$list['bumen']}</p>
	<p class="c-black">    籍贯：{$list['huji']}</p>
	<p class="c-black">  身份证：{$list['shenfenzheng']}</p>
	<p class="c-black">做过的项目：{$list['gz_jingyan']}</p>
	<p class="c-black">求职意向：{$list['intension']}</p>
	<p class="c-black">    特长：{$list['skill']}</p>
	<p class="c-black">    手机：{$list['mobile']}</p>
	<p class="c-black">培训状态：
		<if condition="$list['beteach'] eq 0 ">
			未培训
		<elseif condition="$list['beteach'] eq 1"/>
			已培训
		<elseif condition="$list['beteach'] eq 2"/>
			不确定
		</if>
	</p>
	<p class="c-black">培训内容：{$list['teachcontent']}</p>
	<p class="c-black">工作经验：{$list['job_exp']}</p>
	<p class="c-black">工作经历：{$list['job_live']}</p>
	<p class="c-black">毕业学校：{$list['graduate']}</p>
	
	<p class="c-black">    学历：{$list['education']}</p>
	<p class="c-black">  推荐人：
		<if condition="$list['tuijian_id'] eq 0 ">
			没有推荐人
		<else />
			{$list['tuijian_id']}
		</if>
	</p>
	<p class="c-black">    认证：
		<if condition="$list['authentication'] eq 0 ">
			未认证
		<elseif condition="$list['authentication'] eq 1"/>
			已认证
		</if>
	</p>
	
	
	<p class="c-black">注册时间：{$list['regtime']|date='Y-m-d H:i:s',###}</p>
</div>

<script type="text/javascript" src="__PUBLIC__/HUI/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/HUI/static/h-ui/js/H-ui.js"></script> 

</body>
</html>